*{
    box-sizing: border-box;
}
    
    img {
        position: relative;
        top: 20px;
        width: 700px;
        height: 500px;

    }

    button {
    font-size: 25px;
    background: white;
    border:2px solid blue;
    border-radius: 15px;
    color: blue;
    margin-top: 20px;
    padding: 8px 14px;
}

button:hover {
    background-color: blue;
    color: #ffffff;
}

.inner {
    text-align: center;
    font-size: 40px;   
}

 p {
     font-style: italic;
 }

footer {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

body {
    background-color: rgb(79, 210, 214);
}

h1 {
    font-size: 88%;
    display: block;
    margin-top: 75px;
}

.answer {
    font-size: 80%;
    font-family: 'Trebuchet MS';
    text-align: left;
    margin-left: 80px;
    padding-top: 12px; 
     
}

.img {
    margin-bottom: 20px;
    
    margin: auto;
}

