.ysw-checkout-credit-cards {
	margin-bottom: 10px;
}

.ysw-checkout-credit-cards img {
	margin-right: 3px;
	display: inline-block;
}

.card-selected img {
	margin-right: 3px;
	opacity: .4;
}

.ysw-checkout-credit-cards img.active {
	opacity: 1;
}

.inputError, input.error {
	border:1px solid #F00;
}

.fixError {
	background-color:#9eff91;
}

a.errorLink{
	color:#129c00 !important;
}

a.errorLinkNoMark {
	color:#129c00 !important;
}

.shippingError {
	border: 1px solid #F00;
	margin: 3px;
}

.shippingErrorPage1 {
	border: 1px solid #F00;
	padding: 5px 0 0 5px;
	clear: both;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

input[type=number] {
	-moz-appearance: textfield;
}

/* Validate Error */

label.error {
	margin-left: 10px;
	width: auto;
	color: red;
	font-style: italic;
	padding: 0px;
	margin: 0px;
}

/* Inline CC for credit Card */

.ysw-inline-cc-img input {
	background: #fff url('placeholder.png') right 5px center no-repeat;
	background-size: 25px 19px;
	height: 26px;
	padding: 0 35px 0 5px;
	border: 1px solid #a9a9a9;
}

.ysw-inline-cc-img .visa {
	background-image: url('visa.png');
}

.ysw-inline-cc-img .mastercard {
	background-image: url('mastercard.png');
}

.ysw-inline-cc-img .discover {
	background-image: url('discover.png');
}

.ysw-inline-cc-img .amex {
	background-image: url('amex.png');
}

.ysw-inline-cc-img .dinersclub {
	background-image: url('diners.png');
}

.ysw-inline-cc-img .mastro {
	background-image: url('mastro.png');
}

.ysw-inline-cc-img .laser {
	background-image: url('laser.png');
}

.ysw-inline-cc-img .jcb {
	background-image: url('jcb.png');
}